body{
    font-family: 'Fira Sans', sans-serif;
}

h1{
    font-size: 200%;
}
.tomato-color{
    color: tomato;
}
section{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 50%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700px;
    padding: 20% ,40%;
    border-radius: 50px;

}
.eat-healthy{
    background-image: url(images/Frame\ 57.jpg);
    background-position: left;
    background-repeat: no-repeat;
}
.about-me{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}